<section class="seccion-login">


  <div class="contenedor-principal-login ">

    <img class="img-login" src="img/login-avatar.png" alt="">

    <h1 class="iniciar-sesion">Iniciar Sesión</h1>

    <div class="grupo-login mt-3 ">
      <label class="label-login" for="usuario">Usuario</label>
      <input class="input-login" type="text" name="usuario" id="usuario" placeholder="Usuario">
    </div>

    <div class="grupo-login mt-3 ">
      <label class="label-login" for="clave">Contraseña</label>
      <input class="input-login" type="password" name="clave" id="clave" placeholder="Contraseña">
    </div>

    <div class="checkbox-login">
      <input type="checkbox" class="opciones-login ">
      <p class="recordar-credenciales">Recordar mis crendeicales </p>
      <p class="opciones-login  olvide-clave">¿Has olvidado tu contraseña? <a href="#" class="enlaces-clave"><span>Click
            Aquí</span></a> </p>
    </div>

    <button class="btn-iniciar-sesion">Iniciar</button>



  </div>

</section>