<section id="crear-empresa">
    <h1>Registrar Empresa</h1>

    <div class="registro-empresa">
        <div class="mb-3">
            <label for="nit" class="form-label">Nit *</label>
            <input type="number" class="form-control" id="nit">
        </div>
    </div>

</section>