<section class="seccion-login">
    <div class="contenedor-main-login">

        <div class="contenedor-login">
            <h2 class="titulo-inicio-sesion">Iniciar Sesión</h2>
            <div class="formulario-login">
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuario </label>
                    <input type="text" class="form-control input-login" id="usuario" placeholder="Digite su usuario">
                </div>

                <div class="mb-3">
                    <label for="clave" class="form-label">Contraseña </label>
                    <input type="password" class="form-control input-login" id="clave"
                        placeholder="Digite su contraseña">
                </div>
                <p>¿Has olvidado tu contraseña? <a href="#" class="enlaces-login"><span class="span">Click Aquí</span></a> </p>
                <button class="btn-iniciar-sesion" id="btn-registrar-empresa">Registrar</button>
                <p>¿No tienes una cuenta? <a href="#" class="enlaces-login"><span class="span">Registrate Aquí</span></a> </p>
            </div>

        </div>
        <div class="contenedor-logo-login" >
            <div class="logo-login">JL</div>
            <h2 class="facturacion-login">Sistema de Facturación</h2>
            <img class="img-login" src="img/login.svg" alt="avatar">
        </div>

    </div>





</section>