:root {
    --login-bg: #f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg: #eadbff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* Nav */
.contenedor-logo {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 40px;
    height: 40px;
    padding: 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.contenedor-logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contenedor-navbar a {
    text-decoration: none;

}


/* Login */


.contenedor-main-login {
    /*   height: 43.75em;  */
    /*    width: 60em;  */
    margin: 6em auto;
    border-radius: .8rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    -webkit-box-shadow: 4px 6px 30px 18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 30px 18px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 6px 30px 18px rgba(0, 0, 0, 0.75);
}

.titulo-inicio-sesion {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.contenedor-login {
    width: 50%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-login  h2{
    text-align: center;
}


.logo-login {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 90px;
    height: 90px;
    padding: 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.contenedor-logo-login h2 {
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}

.contenedor-logo-login {
    display: flex;
    width: 50%;
    padding: 40px 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.img-login {
    padding: 2rem;
    /*  width: 80%;
    height: 80%; */
    box-sizing: border-box;
}

.contenedor-login input {
    border-radius: 30px;
    height: 35px;
    font-weight: 600;

}

.btn-iniciar-sesion {

    width: 80%;
    height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    cursor: pointer;
    margin: 0 auto;

}

.formulario-login {
    width: 80%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
}

.formulario-login p {
    text-align: center;
}

.input-login:hover {
    border: 2px solid var(--button-bg);
}

.formulario-login p {
    margin: 0;
}

.enlaces-login {
    text-decoration: none;
}



/* Crear Empresa */

#crear-empresa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor-formulario-empresa {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.registro-empresa {
    height: auto;
    background-color: #fff5;
    border-radius: .8rem;
    padding: 5px 5px 50px 10px;
    -webkit-box-shadow: 4px -4px 21px 3px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 4px -4px 21px 3px rgba(0, 0, 0, 0.57);
    box-shadow: 4px -4px 21px 3px rgba(0, 0, 0, 0.57);

}

.registro-empresa h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 700;
}

.registro-empresa input {
    border-radius: 30px;
    height: 30px;
    background-color: #fff5;
}



.registro-empresa select {
    border-radius: 20px;
    height: 30px;
    background-color: #fff5;
}

.registro-empresa select,
option {
    padding-top: 0;
    padding-bottom: 0;
}


.registro-empresa textarea {
    border-radius: 30px;
    background-color: #fff5;
}

.btn-registrar-empresa {
    display: block;
    border-radius: 20px;
    background: blue;
    color: white;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;

}


/* Consultar Empresa */

.encabezado-empresa {
    color: white;
}

.contenedor-buscar-empresa input {
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.contenedor-buscar-empresa a {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.contenido-tabla-empresa {
    width: 100%;
    border-radius: .6rem;
    overflow: auto;
}





/* Perfil */

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}