<section class="contenedor-consultar-empresa">

  <div class="consulta-empresa ">

    <div class="contenedor-consulta-empresa container">
      <div class="contenedor-buscar-empresa">
        <input type="text" placeholder="Nombre de la empresa">
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>

      <div class="contenido-tabla-empresa">
        <table class="table tabla-empresa">

          <thead class="encabezado-empresa bg-primary">
            <tr>

              <th scope="col">Nombre</th>
              <th scope="col">Departamento</th>
              <th scope="col">Municipio</th>
              <th scope="col">Telefono</th>
              <th scope="col">Correo </th>
              <th scope="col"> </th>
            </tr>
          </thead>

          <tbody class="tabla-consultar-empresa">
            <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>

            <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                 <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>

                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>

                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>


                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>


                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>

                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
                <tr>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>
                <div class="opciones-empresa">
                  <div>
                    <a href="#" ><i class="fa-solid fa-trash"></i></a>
                    <a href="#"><i class="fa-solid fa-eye"></i></a>
                  </div>

                </div>
              </td>
            </tr>
            


          </tbody>
        </table>
      </div>

    </div>
  </div>



</section>