      <div class="contenedor-formulario-empresa">
                <div class="registro-empresa">
                    <h1>Registrar Empresa</h1>
                    <div class="row empresa">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label for="nit" class="form-label">Nit *</label>
                                <input type="number" class="form-control" id="nit"
                                    placeholder="Ingrese el Nit de la empresa">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label for="nombre-empresa" class="form-label">Nombre *</label>
                                <input type="text" class="form-control" id="nombre-empresa"
                                    placeholder="Ingrese el nombre de la empresa">
                            </div>
                        </div>
                    </div>

                    <div class="row empresa">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label for="direccion-empresa" class="form-label">Direccion *</label>
                                <input type="text" class="form-control" id="direccion-empresa"
                                    placeholder="Ingrese la direccion de la empresa">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label for="telefono-empresa" class="form-label">Telefono *</label>
                                <input type="text" class="form-control" id="telefono-empresa"
                                    placeholder="Ingrese el telefono de la empresa">
                            </div>
                        </div>
                    </div>

                    <div class="row empresa">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label for="correo-empresa" class="form-label">Correo *</label>
                                <input type="text" class="form-control" id="correo-empresa"
                                    placeholder="Ingrese el correo de la empresa">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label for="departamento-empresa" class="form-label">Departamento *</label>
                                <select name="departamento-empresa" id="departamento-empresa" class="form-control">
                                    <option value="departamento">Seleccione un departamento</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row empresa">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label for="municipio-empresa" class="form-label">Municipio</label>
                                <select name="municipio-empresa" id="municipio-empresa" class="form-control">
                                    <option value="municipio">Seleccione un municipio</option>
                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="row empresa">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="mb-3">
                                <label for="descripcion-empresa" class="form-label">Descripcion</label>
                                <textarea class="form-control" name="descripcion-empresa" id="descripcion-empresa"
                                    placeholder="Descipcion de la empresa"></textarea>
                            </div>
                        </div>
                    </div>

                    <button class="btn-registrar-empresa" id="btn-registrar-empresa">Registrar</button>
                </div>
            </div>