<nav class=" navbar navbar-expand-lg  nabvar-principal">
  <div class="container-fluid contenedor-navbar">
    <div class="navbar-brand contenedor-logo"> <a href="/">JL</a> </div>
    <a class="navbar-brand texto-navbar" href="/"> Facturación </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-menu " id="navbarSupportedContent">
      <div class="dropdown ">
        <button class="  dropdown-toggle  btn-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Usuario
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
          <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
         
        </ul>
      </div>
    </div>
  </div>
</nav>